<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>My Contacts</title>
    </head>
    <body>
        <div class='container'>
        <h1>My Contacts List</h1>

        {% if list_of_contacts is not empty %}
            <p>Current Contacts:</p>
            <ul>
                {% for contact in contacts %}
                <p><strong>{{ contact.getName }}</p>
                    <ul>
                        <li>Phone:{{ contact.getPhone_number }}</li>
                        <li>Address:{{ contact.getAddress }}</li>
                    </ul>
                {% endfor %}
            </ul>
            {% else %}

            <p>Currently, you have no contacts listed.</p>
        {% endif %}
        <br>
        <br>
        <h3>To add a new contact, please fill the form.</h3>

        <form action='/create_contact' method='post'>
            <div class='form-group'>
                   <label for='name'>Name:</label>
                   <input id='name' name='name' class='form-control' type='text'>
            </div>
            <div class='form-group'>
                   <label for='phone_number'>Phone Number:</label>
                   <input id='phone_number' name='phone_number' class='form-control' type='number'>
            </div>
            <div class='form-group'>
                   <label for='address'>Address:</label>
                   <input id='address' name='address' class='form-control' type='text'>
            </div>

            <button type='submit'>Update Contacts List</button>
        </form>
        <br>
        <br>
        <h3>To clear and delete all contacts, press below.</h3>
        <form action='/delete_contacts' method='post'>
            <button type='submit'>Clear contacts</button>
        </form>
        </div>
    </body>
</html>
