<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>My Contacts</title>
    </head>
    <body>
        <div class='container'>
        <h1>My Contacts List</h1>

        {% if tasks is not empty %}
            <p>Current Contacts</p>
            <ul>
                {% for task in tasks %}
                <li>{{ task.getDescription }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/create_contact' method='post'>
            <div class='form-group'>
                   <label for='name'>Name:</label>
                   <input id='name' name='name' class='form-control' type='text'>
            </div>
            <div class='form-group'>
                   <label for='phone_number'>Phone Number:</label>
                   <input id='phone_number' name='phone_number' class='form-control' type='number'>
            </div>
            <div class='form-group'>
                   <label for='Adress'>Addrress:</label>
                   <input id='address' name='address' class='form-control' type='text'>
            </div>

            <button type='submit'>Update Contacts List</button>
        </form>
        </div>
    </body>
</html>
