<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Succesful submitted.</title>
    </head>
    <body>
        <h1>Here is your new contact:</h1>
        {% if list_of_contacts is not empty%}
        <p><strong>{{ Contacts.getName }}</p>
            <ul>
                <li>Phone:{{ contacts.getPhone_number }}</li>
                <li>Address:{{ contacts.getAdress }}</li>
            </ul>
        {% endif %}
        <br>
        <a href="/">Return to My Contacts List page.</a>

    </body>
</html>
