<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Contact succesfully submitted.</title>
    </head>
    <body>
        <h1>Here is your new contact:</h1>
        <br>
        <a href="/">Return to My Contacts List page.</a>

    </body>
</html>
