<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Succesful submitted.</title>
    </head>
    <body>
    <div class="container">
        <h1>Here is your new contact:</h1>
        {% if list_of_contacts is not empty %}
        <p><strong>{{ contact.getName }}</p>
            <ul>
                <li>Phone:{{ contact.getPhone_number }}</li>
                <li>Address:{{ contact.getAdress }}</li>
            </ul>
        {% endif %}
        <br>
        <a href="/">Return to My Contacts List page.</a>
    </div>
    </body>
</html>
